/* Estilos para la barra de tareas y el header */
ion-header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

ion-button {
  color: white !important;
}

.header-toolbar {
  --background: transparent;
  --border-color: transparent;
}

ion-title img {
  height: 50px; /* Ajusta la altura de la imagen según tus necesidades */
  width: auto; /* Esto asegura que el ancho se ajuste automáticamente según la relación de aspecto original de la imagen */
  margin-left: 10px; /* Añade un margen a la izquierda para separar la imagen del borde izquierdo */
  margin-top: 10px; /* Añade un margen en la parte superior para separar la imagen del borde superior */
}

.img {
  display: flex;
  border-radius: 100px;
}

.navbar {
  display: flex;
}

ion-button {
  margin-left: 8px; /* Ajusta el espacio entre los botones según sea necesario */
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  ion-button {
    margin: 8px 0;
  }
}

/* Nuevos estilos */
.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 10px;
  --ion-card-background: #ffffff; /* Fondo blanco */
  --ion-card-border-radius: 10px;
  --ion-card-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.custom-card ion-card-title {
  color: #333; // Color del texto del título
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --background: #f9f9f9; // Fondo claro para los elementos
  color: #333; // Color del texto en los elementos
}

ion-label {
  color: #333; // Color del texto de las etiquetas
}

.titulo {
  font-size: 14px;
  text-align: center;
}

.icon {
  margin: 0 10px;
}

ion-button {
  --background: #333; // Fondo oscuro para los botones
  --color: #fff; // Texto blanco para los botones
  margin-top: 10px;
}
