<ion-header class="navbar" [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/Da.png" alt="Logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/vendedor-pos" routerDirection="forward">POS</ion-button>
      <ion-button routerLink="/stock" routerDirection="forward">Stock</ion-button>
      <ion-button routerLink="/reporte" routerDirection="forward">Reportes</ion-button>
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of products">
        <ion-card class="custom-card">
          <ion-card-header>
            <ion-card-title>{{ product.Nombre }}</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <ion-img class="product-image" [src]="product.Imagen || '/assets/images/default.png'" alt="imagen del producto"></ion-img>
            <ion-item>
              <ion-label>Precio:</ion-label>
              <ion-label>{{ product.Precio | currency }}</ion-label>
            </ion-item>
            
            <ion-item>
              <ion-label>Cantidad:</ion-label>
              <ion-input type="number" [(ngModel)]="product.Cantidad"></ion-input>
            </ion-item>
          </ion-card-content>
        
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="dark">Agregar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="dark">Quitar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
