<ion-header class="navbar" [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/Da.png" alt="Logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/vendedor-pos" routerDirection="forward">POS</ion-button>
      <ion-button routerLink="/stock" routerDirection="forward">Stock</ion-button>
      <ion-button routerLink="/reporte" routerDirection="forward">Reportes</ion-button>
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="toolbar">
          <ion-searchbar placeholder="Buscar producto o servicio" (ionInput)="filterStock($event)"></ion-searchbar>
        </div>
        <ion-card>
          <ion-card-content>
            <table class="stock-table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>SKU</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stock of filteredStocks">
                  <td>{{ stock.Nombre }}</td>
                  <td>{{ stock.Sku }}</td>
                  <td>{{ stock.Cantidad }}</td>
                  <td>{{ stock.Precio | currency }}</td>
                </tr>
              </tbody>
            </table>
            <div class="button-group">
              <ion-button expand="block" color="primary" (click)="exportToExcel()">Descargar Stock Actual</ion-button>
              <ion-button *ngIf="userRol === 1" expand="block" color="secondary" (click)="triggerFileInput()">Cargar Productos</ion-button>
              <ion-button expand="block" color="tertiary" (click)="downloadTemplate()">Descargar Plantilla</ion-button>
            </div>
            <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
