
  // Estilos para el contenedor del formulario
  .form-container {
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrado horizontal */
  }
  
  // Estilos para los elementos de entrada del formulario
  .input ion-input {
    font-size: 16px; /* Tamaño de fuente */
    padding: 12px; /* Espaciado interno */
  }
  
  // Estilos para el botón del formulario
  ion-button {
    margin-top: 20px; /* Espacio superior */
  }
  