<ion-header class="navbar" [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      <img src="/assets/images/Da.png" alt="Logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/vendedor-pos" routerDirection="forward">POS</ion-button>
      <ion-button routerLink="/stock" routerDirection="forward">Stock</ion-button>
      <ion-button routerLink="/reporte" routerDirection="forward">Reportes</ion-button>
      <ion-button *ngIf="userRol === 1" (click)="navigateAndReload('/crear-producto')">Crear y editar</ion-button>
      <ion-button *ngIf="userRol === 1" (click)="navigateAndReload('/control')">Adm. Usuarios</ion-button>
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Buscar Producto</ion-label>
              <ion-select [(ngModel)]="ID_Producto" placeholder="Seleccione Producto">
                <ion-select-option *ngFor="let producto of productos" [value]="producto.ID_Producto">
                  {{ producto.Nombre }} - {{ producto.Precio | currency }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Cantidad</ion-label>
              <ion-input [(ngModel)]="Cantidad" type="number" placeholder="Ingrese Cantidad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Método de Pago</ion-label>
              <ion-select [(ngModel)]="ID_Metodo_Pago" placeholder="Seleccione Método de Pago">
                <ion-select-option *ngFor="let metodo of metodosPago" [value]="metodo.ID_Metodo_Pago">
                  {{ metodo.Nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="button-group">
              <ion-button expand="block" color="secondary" (click)="agregarProducto(); resetForm()">Agregar Producto</ion-button>
              <ion-button expand="block" color="tertiary" (click)="finalizarVenta(); resetForm()">Finalizar Venta</ion-button>
              <ion-item>
                <ion-label position="stacked">Código de Cliente</ion-label>
                <ion-input [(ngModel)]="codigoCliente" placeholder="Ingrese el código"></ion-input>
              </ion-item>
              <ion-button expand="block" color="primary" (click)="aplicarCodigoCliente(); resetForm()">Aplicar Código de Cliente</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalles del Carrito</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><strong>Producto</strong></ion-col>
                <ion-col><strong>Cantidad</strong></ion-col>
                <ion-col><strong>Precio</strong></ion-col>
                <ion-col><strong>Total</strong></ion-col>
              </ion-row>
              <ion-row *ngFor="let item of detalleCarrito">
                <ion-col>{{ item.Nombre_Producto }}</ion-col>
                <ion-col>
                  <ion-button size="small" color="medium" (click)="decrementarCantidad(item)">-</ion-button>
                  {{ item.Cantidad }}
                  <ion-button size="small" color="medium" (click)="incrementarCantidad(item)">+</ion-button>
                </ion-col>
                <ion-col>{{ item.Precio | currency }}</ion-col>
                <ion-col>{{ item.total | currency }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9"><strong>Total General</strong></ion-col>
                <ion-col size="3">{{ totalGeneral | currency }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
