/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


ion-footer {
  position: fixed; /* Cambia de fixed a relative */
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 100px;
 /* Añadir un color de fondo para el footer */
}


// Fondo de la página
ion-content {
  --ion-background-color: #f0f0f0; /* Cambia el color de fondo */
}

ion-header.navbar {
  background-color: #333 !important;
  color: #fff !important;
  padding: 5px 0;

  ion-toolbar.header-toolbar {
    --background: #333 !important;
    --border-color: transparent !important;
  }

  ion-button {
    color: white !important;
  }

  ion-title img {
    height: 50px; /* Ajusta la altura de la imagen según tus necesidades */
    width: auto; /* Esto asegura que el ancho se ajuste automáticamente según la relación de aspecto original de la imagen */
    margin-left: 10px; /* Añade un margen a la izquierda para separar la imagen del borde izquierdo */
    margin-top: 10px; /* Añade un margen en la parte superior para separar la imagen del borde superior */
  }
}