
ion-header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

.header-toolbar {
  --background: transparent;
  --border-color: transparent;
}

/*Logo Daf Sales */
ion-title img {
  height: 50px; /* Ajusta la altura de la imagen según tus necesidades */
  width: auto; /* Esto asegura que el ancho se ajuste automáticamente según la relación de aspecto original de la imagen */
  margin-left: 10px; /* Añade un margen a la izquierda para separar la imagen del borde izquierdo */
  margin-top: 10px; /* Añade un margen en la parte superior para separar la imagen del borde superior */
}

.empleado{
  display: flex;
  justify-content: center;
  border-radius: 100px;
  
}

.empleado img {
  width: 200px;
  height: 200px;
}

ion-content{
  --ion-safe-area-bottom: env(safe-area-inset-bottom);

}

ion-item{
  --background: #f1f1f1;
   border-radius: 30px;
   margin-top: 16px;
   margin-bottom: 16px;
   margin: 10px;
}
.link{
 justify-content: center;
  margin-top: 25px;
   margin-bottom: 16px;
   margin: 25px;
   

}


ion-button {
  text-align: center;
  margin: 10px;
  position: relative;
  
}

.icon{

  padding: auto;
  width: 5%;
}

.titulo {
  font-size: 12px; /* Ajusta el tamaño de fuente según sea necesario */
}

ion-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  font-size: 16px;
  padding: 12px 20px;
}

.link-container {
  text-align: center;
}

.link {
  margin-top: 5px;
}

.custom-link {
  color: blue;
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
}

.custom-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor sobre él */
}

.input {
  margin-bottom: 20px; /* Añade espacio entre los elementos de entrada */
  color: #333; /* Cambia el color del texto de los inputs */
  --placeholder-color: #999; /* Cambia el color del placeholder */
  --highlight-color-focused: #333; /* Cambia el color del borde cuando el input está enfocado */
  --border-color: #ccc; /* Cambia el color del borde del input */
}

.form-container {
  max-width: 400px; /* Establece un ancho máximo para el formulario */
  margin: auto; /* Centra el formulario horizontalmente en la página */
  padding: 20px; /* Añade espacio alrededor del formulario */
}

ion-label {
  color: #333;
  font-size: 16px; /* Tamaño de fuente de las etiquetas */
}

ion-icon {
  font-size: 20px; /* Tamaño de los iconos */
}

.custom-button {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-top: 20px; /* Añade espacio entre el botón de inicio de sesión y el siguiente elemento */
}

ion-input {
  color: #333; /* Cambia el color del texto de los inputs */
  --placeholder-color: #999; /* Cambia el color del placeholder */
  --highlight-color-focused: #333; /* Cambia el color del borde cuando el input está enfocado */
  --border-color: #ccc; /* Cambia el color del borde del input */
}